// $deepBlue: #1e2761;
$deepBlue: #408ec6;
$deep-deep-blue: #1f577e;
$Pink: #da2677;
$LightPink: #f0f0f0;
// $deepBlue: #1e2761;
// $lighterBlue: #408ec6;
// $Pink: #7a2048;
// $LightPink: #f0f0f0;

//MEDIA BREAKPOINT
$breakpoint-tablet: 768px;
$smallPhone: 442px;

// White Smoke (#F0F0F0) and Brilliant Red (#E7473C)
// Hex Codes: Blue (#408EC6), Maroon (#7A2048), Indigo (#1E2761)
//   primary: "#038C7F",
//         secondary: "#F2C641",
//         tertiary: {
//           dark: "#F27405",
//           light: "#F2C641",
//         },
