@import './variables';
article {
  // padding: 0 2rem;
  .home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 474px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(
      86.3deg,
      rgba(0, 119, 182, 1) 3.6%,
      rgba(8, 24, 68, 1) 87.6%
    );
    z-index: -1;

    @media (max-width: $smallPhone) {
      flex-direction: column;
      min-height: 384px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4.5rem 0;
      margin: 0 2rem;
      width: 70%;
      @media (max-width: $smallPhone) {
        width: 100%;
      }

      .container {
        padding: 1rem 2rem;

        .texts {
          h1 {
            color: #ffff;
            font-size: 4.3rem;
            font-weight: 700;
            line-height: 1;
            // width: 100%;
            text-align: left;
            text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);

            @media (max-width: $breakpoint-tablet) {
              font-size: 2.2rem;
            }
            @media (max-width: $smallPhone) {
              font-size: 2rem;
            }
          }
          p {
            color: #ffff;
            font-weight: 500;
          }
          button {
            border: none;
            background-color: transparent;
            padding: 1rem 3rem;
            border-radius: 0.3rem;
            background-color: $Pink;
            cursor: pointer;
            @media (max-width: $breakpoint-tablet) {
              width: 204px;
              padding: 0.5rem;
            }

            &:hover {
              background-color: #ffff;
              color: #000;
              border: 1px solid $deepBlue;
            }

            @media (max-width: $smallPhone) {
              padding: 0.2rem 1rem;
            }
            a {
              text-decoration: none;
              color: #ffff;
              font-weight: 500;

              letter-spacing: 0.1rem;
              &:hover {
                color: #000;
              }
            }
          }
        }

        .icons {
          display: none;
          gap: 2rem;
          margin-top: 1.2rem;
          svg {
            font-size: 1.5rem;
            font-weight: 200;
            color: $deepBlue;
          }

          @media (max-width: $smallPhone) {
            display: flex;
          }
        }
      }
    }
    .social-img {
      img {
        width: 70%;
      }
      @media (max-width: $smallPhone) {
        img {
          display: none;
        }
      }
    }
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem;
    gap: 2rem;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      margin: 1rem;
    }

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: flex-start;
      align-items: center;
      gap: 0.4rem;
      // background-color: #1d57f828;
      // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      //   rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      // border-radius: 12px;
      width: 244px;
      height: 294px;
      padding: 1rem;

      // &:hover {
      //   // background-color: $Pink;
      //   // background-color: #1d57f83b;

      //   // color: #ffff;
      // }
      @media (max-width: $breakpoint-tablet) {
        width: 100%;
        height: 244px;
        justify-content: flex-start;
        align-items: flex-start;
        // height: 224px;
        // padding: 2.3rem;
      }

      @media (max-width: $smallPhone) {
        justify-content: center;
        align-items: center;
      }

      h4 {
        line-height: 1.2;
        font-weight: 500;
        // color: $deepBlue;
        text-align: center;
      }

      .home-price {
        display: flex;

        .price {
          font-size: 2rem;
          font-weight: 500;
        }
      }
      svg {
        color: $Pink;
        font-size: 3.8rem;
        // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
    }
    button {
      border: none;
      color: $Pink;
      background-color: transparent;
    }
    a {
      font-size: 1.3rem;
    }
  }

  .special {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.2rem 3rem;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
    @media (max-width: $smallPhone) {
      padding: 1rem;
    }
    .img {
      flex: 1;
      @media (max-width: $breakpoint-tablet) {
        flex: 1;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }
  }

  .contents {
    flex: 1;
    // min-width: 300px;

    h3 {
      font-weight: 600;

      span {
        color: $Pink;
        font-weight: 300;
      }
    }
    .accordion-btn {
      display: inline-flex;
      align-items: center;
      border: none;
      margin-bottom: 2px;
      background-color: $Pink;
      // width: 350px;
      width: 80%;
      color: $LightPink;
      padding: 0.8rem;
      @media (max-width: $smallPhone) {
        height: 44px;
        font-size: 0.7rem;
        width: 100%;
      }

      .add-color {
        background-color: #ffff;
      }

      span {
        margin-right: 1rem;
      }
    }
    .arrow {
      display: block;
    }
  }
  .accordion-content {
    display: flex;
    flex-direction: column;
  }

  // GET STARTED-SUPPORT-TOOLS SECTION
  .get-started-support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

    h1 {
      text-align: center;
      // color: $Pink;
    }
    @media (max-width: $breakpoint-tablet) {
      margin: 0.5rem;
    }

    @media (max-width: $smallPhone) {
      h1 {
        font-size: 1rem;
        font-weight: 900;
      }
    }

    // width: 90%;
    .container {
      width: 84%;
      // height: 100vh;
      margin-bottom: 3rem;

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @media (max-width: $smallPhone) {
          flex-direction: column;
        }
      }

      .link {
        // display: flex;
        display: inline-block;
        background-color: $deepBlue;
        color: #ffff;
        margin-right: 1px;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        width: 60%;

        .active {
          background-color: $Pink;
        }
        &:focus {
          background-color: $Pink;
        }
      }

      @media (max-width: $smallPhone) {
        .disappear {
          display: none;
        }
      }

      @media (max-width: $smallPhone) {
        flex-direction: column;
        .link {
          font-size: 0.7rem;
          margin-bottom: 1.2px;
          width: 100%;
          // background-color: transparent;
        }
      }

      @media (max-width: $smallPhone) {
        .links {
          display: flex;
        }
      }
    }
  }
  //TRUST SECTION
  .trust-section {
    display: flex;
    // background-color: $Pink;
    background: radial-gradient(
      circle at center,
      #e81083,
      #e81083 10%,
      transparent 10%,
      transparent 20%,
      #e81083 20%,
      #e81083 30%,
      transparent 30%,
      transparent 40%,
      #e81083 40%,
      #e81083 50%,
      transparent 50%,
      transparent 60%,
      #e81083 60%,
      #e81083 70%,
      transparent 70%,
      transparent 80%,
      #e81083 80%,
      #e81083 90%,
      transparent 90%
    );
    background-size: 2em 2em;
    background-color: #d00094;
    opacity: 1;
    margin: 5rem auto;
    // height: 884px;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
    .text {
      flex: 1;
      color: #ffff;
      display: flex;
      flex-direction: column;
      padding: 3rem 2rem;
      text-align: left;

      @media (max-width: $breakpoint-tablet) {
        text-align: justify;
        width: 100%;
        padding: 1.3rem 1rem;
      }
      // .pattern {

      //   height: 200px;
      //   border-radius: 40%;
      // }
      h3 {
        font-weight: 700;
        font-size: 2rem;
      }
      .link-btn {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        margin-top: 2rem;
        @media (max-width: $smallPhone) {
          flex-direction: column;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.3rem;
          text-decoration: none;
          border: 1px solid #ffff;
          border-radius: 5px;
          padding: 0.5rem 1.5rem;
          font-weight: 700;
          min-width: 40%;
          color: #ffff;
          @media (max-width: $smallPhone) {
            font-weight: 500;
          }

          svg {
            font-size: 1.6rem;
          }

          &:hover {
            background-color: #ffff;
            color: $Pink;
            font-weight: 500;
          }
        }
      }
      // @media (max-width: $breakpoint-tablet) {
      //   padding: 2.2rem 2rem;
      //   h3,
      //   p {
      //     width: 100%;
      //   }
      //   a {
      //     width: 35%;
      //   }
      // }

      // @media (max-width: $smallPhone) {
      //   h3 {
      //     font-size: 1.5rem;
      //   }

      //   a {
      //     width: 70%;
      //   }
      // }

      .biz_list {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 240px;

        a {
          text-decoration: none;
          color: #ffff;

          &:hover {
            background-color: #c1cdd264;
            border-radius: 4px;
          }
        }
      }
    }

    .img {
      display: flex;
      align-items: center;

      flex: 1;
      padding: 1rem;
      // margin: 0;
      img {
        width: 94%;
        height: auto;
        border-radius: 20px;

        @media (max-width: $breakpoint-tablet) {
          min-width: 50%;
        }
      }
    }
  }
}
