@import 'variables';

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .write-error {
    border: 1px solid red;
    border-radius: 4px;
    background-color: white;
    padding: 0.6rem 1.5rem;
    color: red;
    position: fixed;
    top: 10%;
    z-index: 100;
    text-align: center;
    max-width: 90%;
  }

  .write {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 1.5rem;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input[type='text'],
    input[type='file'],
    select {
      padding: 0.75rem;
      border: 1px solid lightgray;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%;
    }

    .error {
      color: red;
      font-size: 0.875rem;
      margin-top: -1rem;
      margin-bottom: 1rem;
    }

    .upload {
      label {
        margin-bottom: 0.5rem;
      }

      input[type='file'] {
        padding: 0;
      }
    }

    button {
      padding: 0.75rem;
      background-color: $primary-color;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
      }
    }
  }

  .editorContainer {
    height: 300px;
    overflow: auto;

    .editor {
      height: 100%;
      border: 1px solid lightgray;
      margin-top: 2rem;
      border-radius: 4px;
    }
  }
}

// Responsive Adjustments
@media (max-width: $breakpoint-md) {
  article {
    // margin: 0;
    padding: 0 2rem;

    .write {
      width: 90%;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  article {
    .write {
      width: 100%;

      input[type='text'],
      input[type='file'] {
        padding: 0.5rem;
        font-size: 0.875rem;
      }

      button {
        padding: 0.6rem;
        font-size: 0.875rem;
      }
    }
  }
}
