@import 'variables';

.blog-card {
  width: 25rem;
  height: 550px;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
    padding: 1rem;
  }

  &__image {
    width: 100%;
    max-height: 15rem;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5rem;
    }
  }

  &__meta {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: #22215b;

    .blog-card__author {
      font-weight: 600;
    }

    .blog-card__date {
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.5rem;
        color: #22215b80;
      }
    }
  }

  &__title {
    color: #22215b;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    a {
      color: #22215b;
      text-decoration: none;
      font-weight: 600;
    }
  }

  &__excerpt {
    color: #22215b80;
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;

    span {
      font-weight: 600;
      color: #22215b;
    }

    .btn {
      padding: 0.5rem 1rem;
      background: #eef7fe;
      border-radius: 0.5rem;
      color: #22215b;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 400;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d3ecfe;
      }
    }
  }
}
