@import './variables';

.company-section {
  //this control aside and text for other components
  margin: 2rem 0;
  .comp-container {
    text-align: left;
    display: flex;
    align-items: start;
    gap: 4rem;
    justify-content: space-between;
    // padding: 1.4rem 0;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      margin: 0rem 1rem;
    }

    .text-1 {
      flex: 3;
      text-align: justify;
      //   width: 100%;

      h1 {
        font-weight: 700;
      }
      .how-to-start {
        background-color: $primary-color;
        border-radius: 5px;
        padding: 3rem;

        h4 {
          color: #ffff;
          border-radius: 4px;
          font-size: 1.7rem;
          font-weight: 500;
        }
        p {
          color: #ffff;
        }
        a {
          text-decoration: none;
          border: 1px solid #ffff;
          padding: 0.5rem 1rem;
          color: #ffff;
          text-align: center;
          width: 200px;
          &:hover {
            background-color: #ffff;
            color: $highlight-color;
            font-weight: 500;
          }
        }
      }
    }
  }

  .company-package {
    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      width: 100%;
    }
  }
}
