@import './variables';

// .social-container {
//   display: flex;
//   position: sticky;
//   top: 0;
//   padding: 0.4rem 0.8rem;
//   // min-height: 38px;
//   background-color: $Pink;
//   justify-content: space-between;
//   @media (max-width: $breakpoint-tablet) {
//     position: static;
//   }

//   @media (max-width: $smallPhone) {
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     padding: 0.4rem 0.8rem;
//   }
//   .social {
//     display: flex;
//     gap: 16px;
//     align-items: center;

//     svg {
//       color: #ffff;

//       &:hover {
//         color: #c0bdbd;
//       }
//     }
//     @media (max-width: $breakpoint-tablet) {
//       align-items: center;
//     }

//     // @media (max-width: $smallPhone) {
//     //   img {
//     //     width: 14px;
//     //   }
//     // }
//   }
//   .phone {
//     padding: 0.4rem;
//     p {
//       font-weight: bold;
//     }

//     p {
//       display: inline-flex;
//       align-items: center;
//       border-right: 2px solid #fff;
//       font-size: 14px;
//       padding: 0 0.2rem;
//       margin: 0 0.5rem;
//       color: #ffff;

//       @media (max-width: $breakpoint-tablet) {
//         display: block;
//         font-size: 14px;
//         border: none;
//       }

//       @media (max-width: $smallPhone) {
//         line-height: 1;
//         font-size: 10px;
//       }
//     }
//   }
// }

.contact-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  margin: 6rem 2.4rem;
  height: 100%;

  // @media (max-width: $smallPhone) {
  //   margin: 6rem 2.4rem;
  // }
  h1 {
    font-weight: 700;
  }

  .social {
    display: flex;
    justify-content: space-evenly;

    gap: 2rem;

    svg {
      font-size: 2rem;
    }
    // margin: 2rem;
  }

  .contact-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;

    & > div {
      background: #1d57f828;
      border-radius: 15px;
      padding: 1rem 3rem;
      text-align: center;
      width: 320px;
      height: 200px;
      @media (max-width: $smallPhone) {
        width: 250px;
      }
    }
    h2 {
      font-weight: 600;
      letter-spacing: 1.4px;
    }

    .phone {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      p {
        background: $Pink;
        padding: 0.4rem 0;
        width: 100%;
        color: #ffff;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 2px;
        border-radius: 4px;

        &:hover {
          color: $Pink;
          border: 1px solid $Pink;
          background-color: #ffff;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }

    .whatsapp {
      a {
        // background: $Pink;
        // border: none;
        // padding: 0.8rem 2rem;
        // color: #ffff;
        // border-radius: 4px;
        // &:hover {
        //   background-color: #ffff;
        // }
        svg {
          background: $Pink;
          width: 80%;

          height: 42px;
          font-size: 2rem;
          color: #ffff;
          border-radius: 4px;

          &:hover {
            color: green;
            background-color: #ffff;
            border-radius: 4px;
          }
        }
      }
    }

    .email {
      svg {
        background: $Pink;
        width: 80%;
        height: 42px;
        font-size: 2rem;
        color: #ffff;
        border-radius: 4px;

        &:hover {
          color: $Pink;
          border: 1px solid $Pink;
          background-color: #ffff;
          border-radius: 4px;
        }
      }
    }
    .work-hour {
      @media (max-width: $smallPhone) {
        padding: 1rem 2rem;
      }
      p {
        color: $Pink;
        font-weight: 600;
        border: 1px solid $Pink;
        background-color: #ffff;
        // padding: 0.4rem 0.8rem;
        border-radius: 4px;
        cursor: pointer;
        @media (max-width: $smallPhone) {
          width: 100%;
        }
      }
    }
  }
}
