@import 'variables';

.faq-card {
  width: 100%;

  @media (min-width: $breakpoint-md) {
    // width: 50%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 350px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f0f4ff;
    }
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__icon {
    color: $highlight-color;
    margin-right: 0.75rem;
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__arrow {
    color: $highlight-color;
    font-size: 1.25rem;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #f0f4ff;
    border-radius: 0 0 0.5rem 0.5rem;

    &.open {
      max-height: 200px;
      padding: 1rem;
    }

    p {
      margin: 0;
      color: $primary-color;
    }
  }
}
