@import 'variables';

.feature {
  background-color: $white;
  padding: $spacing-xl 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }

  &__image-wrapper {
    position: relative;
    height: 680px;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to right,
        rgba($primary-color, 0.9) 0%,
        rgba($primary-color, 0.89) 60%,
        rgba($primary-color, 0) 100%
      );
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    color: $white;
    text-align: center;
    z-index: 1;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: $spacing-lg;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    span {
      color: $accent-color;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: $spacing-md;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin-bottom: $spacing-lg;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center; // Move this declaration outside of the nested rule

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      border-top: ($size * 0.323) solid $tomato;
    }

    li {
      @include hexagon(140px, rgba($tomato, 0.6));
      margin: $spacing-sm;
      color: $white;
      padding: 0.7rem;
      font-size: 0.9rem;
      text-align: center;
      text-transform: capitalize;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      svg {
        font-size: 3rem;
        margin-bottom: $spacing-xs;
      }
    }
  }

  &__cta {
    background-color: $background-color;
    color: $primary-color;
    font-size: 1.1rem;
    font-weight: bold;
    padding: $spacing-sm $spacing-lg;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background: $primary-color;
      color: $white;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .feature {
    &__image-wrapper {
      height: 700px;
    }

    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1rem;
    }

    &__list {
      li {
        @include hexagon(100px, rgba($tomato, 0.6));
        margin: $spacing-sm;

        svg {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .feature {
    &__image-wrapper {
      height: 720px;
    }

    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 0.9rem;
    }

    &__list {
      li {
        @include hexagon(80, rgba($tomato, 0.6));
        font-size: 0.8rem;

        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}
