@import 'variables';
footer {
  background-color: $primary-color;
  position: static;
  bottom: 0;
  margin-top: 4rem;

  .wrapper {
    display: flex;
    justify-content: space-around;
    // align-items: center;
    padding: 2.2rem;
    @media (max-width: $breakpoint-md) {
      // flex-direction: column;
    }

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      width: 100%;
    }

    h3 {
      color: $white;
      font-size: 1.2rem;
      font-weight: 500;
    }

    a {
      text-decoration: none;
    }

    .col-1,
    .col-2,
    .col-3 {
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 0.7rem;
      @media (max-width: $breakpoint-md) {
        // flex-direction: row;

        h3 {
          font-size: 1rem;
        }
      }
      @media (max-width: $breakpoint-sm) {
        margin: none;
        width: 100%;
      }
      // width: 100%;
    }

    .col-1 {
      color: $white;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      p {
        font-size: 0.7rem;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        @media (max-width: $breakpoint-md) {
          flex-direction: column;
        }
        @media (max-width: $breakpoint-sm) {
          flex-direction: row;
        }
        svg {
          color: $white;
          &:hover {
            color: $white;
          }
        }
        @media (max-width: $breakpoint-sm) {
          img {
            width: 0.5rem;
          }
        }

        .whatsApp {
          font-size: 1.6rem;
          color: $white;
        }
      }
    }
    .col-2,
    .col-3 {
      a {
        color: $white;
        line-height: 2.5;
        font-size: 0.8rem;
        &:hover {
          color: $white;
        }
      }
    }
    .logo {
      @media (max-width: $breakpoint-md) {
        h3 {
          font-size: 0.8rem;
        }
      }
    }
  }

  .caveat {
    color: $white;
    padding: 1rem;
    // text-align: center;
    background-color: $secondary-color;

    .copyright {
      text-align: center;
      font-size: 12px;
      border-top: 1px solid white;
      padding-top: 0.9rem;
    }
  }
}
