@import 'variables';

.login,
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem 2rem;
  // width: 100%;
  height: 444px;

  &.error {
    display: flex;
    align-items: center;
    background-color: rgb(245, 186, 186);
    border: 1px solid red;
    text-align: center;
    padding: 0.4rem 3rem;
    // width: 250px;
  }

  h1 {
    font-weight: 700;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 440px;
    padding: 1.2rem 3rem;
    border-radius: 12px;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
    @media (max-width: $breakpoint-sm) {
      padding: 0;
    }

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid $deepBlue;
      padding: 0.3rem;
      font-size: 1.1rem;
      font-weight: 500;
    }

    button {
      border: none;
      border-radius: 4px;
      padding: 0.5rem 0;
      margin-top: 0.4rem;
      background-color: $deepBlue;
      color: #fff;
      font-size: 1.1rem;
    }
  }
}
