@import 'variables';

.navbar {
  background-color: $white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
  position: sticky;
  box-shadow: $box-shadow;
  top: 0;
  z-index: 999;

  .navbar-logo {
    color: $dark;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: $highlight-color;
    }
  }

  .menu-icon {
    display: none;
    color: $dark;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $highlight-color;
    }
  }

  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    .nav-item {
      position: relative;
      height: 80px;
      display: flex;
      align-items: center;

      &.current .nav-link {
        color: $highlight-color;
      }

      .nav-link {
        color: $dark;
        font-weight: 600;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition: color 0.3s ease;

        &:hover {
          color: $highlight-color;
        }

        &.dropdown-toggle {
          display: flex;
          align-items: center;
          cursor: pointer;

          .dropdown-icon {
            margin-left: 0.5rem;
            transition: transform 0.3s ease;
          }
        }
      }

      &.dropdown {
        &:hover .dropdown-icon {
          transform: rotate(180deg);
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $white;
        min-width: 300px;
        box-shadow: $box-shadow;
        border-top: 4px solid $tomato;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 20px;
        //   border-width: 0 10px 10px 10px;
        //   border-style: solid;
        //   border-color: transparent transparent $tomato transparent;
        // }

        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        .dropdown-link {
          display: block;
          text-align: left;
          color: $dark;
          font-weight: 600;
          text-decoration: none;
          padding: 1rem;
          width: 100%;

          &:hover {
            color: $highlight-color;
          }
        }
      }
    }
  }

  .logout-btn {
    background: transparent;
    color: $dark;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $highlight-color;
    }
  }

  @media screen and (max-width: $breakpoint-lg) {
    .menu-icon {
      display: block;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 70%;
      height: auto;
      position: absolute;
      top: 80px;
      left: -100%;
      padding-left: 2rem;
      opacity: 0;
      transition: all 0.5s ease;
      background-color: $white;
      box-shadow: $box-shadow;

      &.active {
        left: 0;
        opacity: 1;
      }

      .nav-item {
        height: auto;
        margin: 0.5rem 0;

        .nav-link {
          padding: 1rem;
          display: block;
          text-align: center;
        }

        &.dropdown {
          .dropdown-menu {
            // position: static;
            box-shadow: none;
            opacity: 1;
            border-top: none;
            visibility: visible;
            transform: none;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease;

            &.active {
              max-height: 500px;
            }
          }

          .nav-link.dropdown-toggle {
            justify-content: center;
          }
        }
      }
    }

    .logout-btn {
      width: 100%;
      text-align: center;
    }
  }
}
