@import './variables';
//NAVBAR
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $deepBlue;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  .logo {
    padding-left: 2rem;
    @media (max-width: $breakpoint-tablet) {
      padding-left: 1.3rem;
      margin-right: auto;
    }
  }
  .hamburger {
    position: absolute;
    display: none;
    font-size: 44px;
    color: #ffff;
    top: 0;
    right: 0;

    @media (max-width: $breakpoint-tablet) {
      display: block;
    }
  }
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    list-style-type: none;
    position: relative;
    padding: 1rem 2.5rem 0rem 0rem;
    line-height: 1.2;

    @media (max-width: $breakpoint-tablet) {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: 2px inset white;
      width: 100%;
      margin-top: 1rem;
      &.open {
        display: flex; /* show the menu when 'open' class is applied */
      }
    }

    li {
      &:hover .dropdown {
        display: flex; /* Show the dropdown when hovering over li */

        // @media (max-width: $breakpoint-tablet) {
        //   display: none;
        // }
      }

      a {
        padding-left: 10px;
        color: #fff;
        font-size: 1.1rem;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $LightPink;
        }
      }

      .active {
        text-decoration: none;
        background: #c0bdbd65;
        padding: 0.4rem;
      }

      .dropdown {
        position: absolute;
        display: none;
        background-color: $deepBlue;
        flex-direction: column;
        padding: 0.8rem 0.8rem;
        // width: 180px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

        z-index: 9999;
        top: 100%;

        // &:hover {
        //   display: flex;
        // }

        li {
          padding: 0.5rem;
          border-bottom: 1px solid #fff;
          width: 100%;
        }

        @media (max-width: $breakpoint-tablet) {
          margin-top: 0;
        }

        a {
          font-size: 14px;
        }
      }
    }
  }
  svg {
    color: #f0f0f0;
  }
}
