@import 'variables';

.pricing-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.p_faq-container {
  display: flex;
  flex-wrap: wrap; // Allow items to wrap
  gap: 1rem; // Adds space between the cards
  justify-content: space-between; // Even spacing between cards
  padding: 2rem;

  .p_faq {
    flex: 1 1 calc(33.333% - 1rem); // Flex-grow: 1, Flex-shrink: 1, Flex-basis: 33.333% minus the gap
    min-width: 250px; // Set a minimum width to prevent excessive shrinking
    box-sizing: border-box;

    @media (max-width: $breakpoint-lg) {
      flex: 1 1 calc(50% - 1rem); // 2 cards per row on medium screens
    }

    @media (max-width: $breakpoint-sm) {
      flex: 1 1 100%; // Full width (stacked) on small screens
    }
  }
}
