@import 'variables';

.services {
  @include section-padding;
  // background-color: $background-color;

  &__title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: $spacing-xl;
    margin-bottom: $spacing-xl;
    color: $primary-color;

    span {
      color: $accent-color;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $spacing-lg;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;

    @media (max-width: $breakpoint-sm) {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
      gap: 1rem;
      padding: 1rem;
    }
  }

  &__card {
    text-align: left;
  }

  &__card-header {
    font-size: 1.3rem;
    font-weight: 600;
    color: $primary-color;
    text-align: left;

    h4 {
      font-size: 1rem;
      margin: 0;
      letter-spacing: 5px;
      text-transform: capitalize;
    }
  }

  &__card-body {
    padding: 0 $spacing-lg;
    text-align: left;

    p {
      font-size: 1rem;
      color: #000;
      margin-bottom: $spacing-md;
      line-height: 1.6;
    }
  }

  &__icon {
    background-color: #ed733666;
    display: inline-block;
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.6rem;
    color: $highlight-color;
    transition: color 0.3s ease;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 2rem;
  }

  &__price {
    font-size: 1.5rem;
    font-weight: 700;
    margin: $spacing-md 0;
    color: $secondary-color;

    span {
      font-size: 1.2rem;
      color: $text-color-light;
    }
  }

  &__cta {
    @include button-styles($highlight-color, $white);
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    margin-top: $spacing-md;
    padding: 0.75rem;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($highlight-color, 5%);
    }
  }
}

// Media Queries
@media (max-width: $breakpoint-md) {
  .services {
    &__title {
      font-size: 2.2rem;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .services {
    &__title {
      font-size: 2rem;
    }
  }
}
