@import 'variables';

.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
  color: $primary-color;

  @media (max-width: $breakpoint-sm) {
    font-size: 1.5rem;
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
  }

  span {
    color: $accent-color;
  }
}
