@import './variables';

.trust-container {
  margin-top: 2.5rem;
  // min-height: 100vh;
  h1 {
    font-weight: 700;
    margin-top: 3rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .trust-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .trust_card_col {
      width: 30%;
      padding: 1rem 1.2rem;
      min-height: 40px;

      h3 {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        font-weight: 600;
        padding: 0.4rem 0.6rem;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border-radius: 12px;
        cursor: pointer;
        letter-spacing: 0.5px;

        &:hover {
          background-color: #1d57f828;
        }

        svg {
          color: $Pink;
          font-size: 1.3rem;
        }
      }

      .card-description {
        max-height: 0;
        border-radius: 10px;
        background-color: #1d57f828;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;

        p {
          padding: 1.4rem;
          // height: 40hv;
        }
      }

      .card-description.open {
        max-height: 124px; /* Adjust the max-height value as per your content */
      }

      @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        width: 100%;
      }

      @media (max-width: $smallPhone) {
        padding: 0.5rem 1rem;
      }

      // svg {
      //   font-size: 2rem;
      //   margin-bottom: 0.5rem;
      // }
    }
  }

  .t-col {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 2.9rem;
      font-weight: 400;
    }
  }
}
