@import './variables';

.web-dev-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  // background-color: $Pink;
  background: radial-gradient(
    circle at center,
    #e81083,
    #e81083 10%,
    transparent 10%,
    transparent 20%,
    #e81083 20%,
    #e81083 30%,
    transparent 30%,
    transparent 40%,
    #e81083 40%,
    #e81083 50%,
    transparent 50%,
    transparent 60%,
    #e81083 60%,
    #e81083 70%,
    transparent 70%,
    transparent 80%,
    #e81083 80%,
    #e81083 90%,
    transparent 90%
  );
  background-size: 2em 2em;
  background-color: #d00094;
  opacity: 1;
  margin: 5rem auto;
  // height: 884px;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
  }
  .text {
    flex: 1;
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    text-align: left;

    @media (max-width: $breakpoint-tablet) {
      text-align: justify;
      width: 100%;
      padding: 1.3rem 1rem;
    }

    @media (max-width: $smallPhone) {
      padding: 1.5rem 0;
    }

    h1 {
      text-align: left;
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      background: -webkit-linear-gradient(#eee, #9fa4a9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // text-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      //   rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

      @media (max-width: $smallPhone) {
        font-weight: 600;
        font-size: 2rem;
      }
    }
    .link-btn {
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
      margin-top: 2rem;
      @media (max-width: $smallPhone) {
        flex-direction: column;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        text-decoration: none;
        border: 1px solid #ffff;
        border-radius: 5px;
        padding: 0.5rem 1.5rem;
        font-weight: 700;
        min-width: 40%;
        text-align: center;
        color: #ffff;
        @media (max-width: $smallPhone) {
          font-weight: 500;
        }

        svg {
          font-size: 1.6rem;
        }

        &:hover {
          background-color: #ffff;
          color: $Pink;
          font-weight: 500;
        }
      }
    }
  }

  .img {
    // display: flex;
    // align-items: center;
    flex: 1;
    padding: 1rem;
    max-width: 450px;
    img {
      width: 100%;
      height: auto;
      // border-radius: 20px;

      @media (max-width: $breakpoint-tablet) {
        min-width: 50%;
      }
    }
  }
}
