@import './variables';

.web-dev-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: $highlight-color; // Use gradient or a more subtle background pattern if preferred
  background-size: cover;
  background-color: $highlight-color;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 4rem auto;
  max-width: 1200px;

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .text {
    flex: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      text-align: justify;
      padding: 1.5rem 1rem;
    }

    h1 {
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      line-height: 1.2;
      color: #ffffff;
      background: linear-gradient(to right, #ffffff, #d1d8e0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: $smallPhone) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 2rem;
      color: #f0f0f0;
    }

    .link-btn {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;

      @media (max-width: $smallPhone) {
        flex-direction: column;
        gap: 0.5rem;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        border: 1px solid #ffffff;
        border-radius: 8px;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
        min-width: 45%;
        text-align: center;
        color: #ffffff;
        transition: background-color 0.3s ease, color 0.3s ease;

        @media (max-width: $smallPhone) {
          font-weight: 500;
          width: 100%;
        }

        svg {
          font-size: 1.6rem;
        }

        &:hover {
          background-color: #ffffff;
          color: $highlight-color;
        }
      }
    }
  }

  .img {
    flex: 1;
    padding: 1rem;
    max-width: 400px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      @media (max-width: $breakpoint-md) {
        max-width: 100%;
      }
    }
  }
}
