@import './variables';

.web-dev-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
  background: url('../assets/laptop2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(231, 76, 60, 0.7);
    z-index: 1;
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .text {
    position: relative; /* Ensure the text is above the overlay */
    z-index: 2; /* Ensure the text is above the overlay */
    flex: 1;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: left;

    @media (max-width: $breakpoint-md) {
      text-align: justify;
      padding: 1.5rem 1rem;
    }

    h1 {
      font-weight: 700;
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1rem;
      line-height: 1.2;
      color: #ffffff;

      @media (max-width: $smallPhone) {
        font-size: 2rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 2rem;
      color: #f0f0f0;
    }

    .link-btn {
      display: flex;
      justify-content: center;
      gap: 1rem;

      @media (max-width: $smallPhone) {
        flex-direction: column;
        gap: 0.5rem;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        border: 1px solid #ffffff;
        border-radius: 8px;
        padding: 0.75rem 1.5rem;
        font-weight: 600;
        min-width: 45%;
        text-align: center;
        color: #ffffff;
        transition: background-color 0.3s ease, color 0.3s ease;

        @media (max-width: $smallPhone) {
          font-weight: 500;
          width: 100%;
        }

        svg {
          font-size: 1.6rem;
        }

        &:hover {
          background-color: #ffffff;
          color: $highlight-color;
        }
      }
    }
  }
}
